PORT=3000
NODE_ENV=development

# Conexão com o Banco de Dados (Supabase / PostgreSQL)
DATABASE_URL="postgresql://postgres:[SUA_SENHA]@db.[REF_DO_PROJETO].supabase.co:5432/postgres?connection_limit=5"

# Chaves Secretas JWT (Utilize strings longas e seguras)
JWT_SECRET="sua_chave_secreta_aqui_super_segura"
JWT_REFRESH_SECRET="sua_chave_secreta_para_refresh_token_aqui"
